# Dependencias
node_modules/
package-lock.json

# Variables de entorno (NUNCA SUBIR)
.env
.env.local
.env.production

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Archivos temporales
temp/
uploads/
